In [1]:
import pandas as pd
import dask.dataframe as dd
import numpy as np

In [2]:
dtypes = ['int64', 'float64', 'complex128', 'object', 'bool']  
data = dict([(t, np.ones(shape=5000).astype(t))  
             for t in dtypes])
df = pd.DataFrame(data)  
df.head()

   int64  float64  complex128 object  bool
0      1      1.0      (1+0j)      1  True
1      1      1.0      (1+0j)      1  True
2      1      1.0      (1+0j)      1  True
3      1      1.0      (1+0j)      1  True
4      1      1.0      (1+0j)      1  True

In [3]:
df.memory_usage()

Index            80
int64         40000
float64       40000
complex128    80000
object        40000
bool           5000
dtype: int64

# The memory footprint of object dtype columns is ignored by default:

In [4]:
# The memory footprint of object dtype columns is ignored by default:
df.memory_usage(deep=True)

Index             80
int64          40000
float64        40000
complex128     80000
object        160000
bool            5000
dtype: int64

In [5]:
df['object'].astype('category').memory_usage(deep=True)

5168