In [12]:
import dask.dataframe as dd
import pandas as pd
df = pd.DataFrame({'x': [1, 2, 4, 7, 11],
                   'y': [1., 2., 3., 4., 5.]})
ddf = dd.from_pandas(df, npartitions=2)

ddf.compute()

    x    y
0   1  1.0
1   2  2.0
2   4  3.0
3   7  4.0
4  11  5.0

In [3]:
ddf.map_overlap(lambda df: df.rolling(2).sum(), 2, 0).compute()

      x    y
0   NaN  NaN
1   3.0  3.0
2   6.0  5.0
3  11.0  7.0
4  18.0  9.0

In [15]:
ddf.map_overlap(lambda df: df.rolling(3).sum(), 2, 0).compute()

      x     y
0   NaN   NaN
1   NaN   NaN
2   7.0   6.0
3  13.0   9.0
4  22.0  12.0